.course-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 24px 24px 12px 12px;

  .course-item {
    background-color: white;
    height: 210px;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 10px 10px;

    .img-block {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 160px;
      border-radius: 20px 20px 0 0;

      img {
        height: 140px,
      }
    }

    .name-block {
      display: flex;
      padding: 10px 20px 10px 20px;
      font-weight: bold;
      font-size: 1.1rem;
      line-height: 1.1rem;
    }
  }
}